{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-6 text-left">
      <hr>
      <h2>Sign up</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ field }}{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>

  </div>
</div>

<style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    /*.row.content {height: 450px}*/

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
{% endblock %}